@import url("https://use.typekit.net/mmh2myd.css");

:root {
    --font-stack-serif: 'freight-text-pro', serif;
    --font-stack-sans: 'vista-sans', sans-serif;
    --font-stack-mono: 't26-carbon', monospace;

    --space-xxxs: 0.25em;
    --space-xxs:  0.375em;
    --space-xs:   0.5em;
    --space-sm:   0.75em;
    --space-md:   1.25em;
    --space-lg:   2em;
    --space-xl:   3.25em;
    --space-xxl:  5.25em;
    --space-xxxl: 8.5em;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-yellow: #f8d835;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    padding: var(--space-md);
}

.nav__home {
    flex-grow: 1;
}

.nav__home-link {
    text-decoration: none;
    font-family: var(--font-stack-mono);
    color: var(--color-black);
    padding: var(--space-md);

    display: flex;
    align-items: center;
}

.nav__home-link:hover {
    color: var(--color-yellow);
    background: var(--color-black);
}

.nav__home-link:hover .logo__top-snake {
    fill: var(--color-white);
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__list-item {
    display: flex;
}

.nav__link {
    text-decoration: none;
    font-family: var(--font-stack-sans);
    color: var(--color-black);
    padding: var(--space-md);
}

.nav__link--active,
.nav__link:hover {
    color: var(--color-yellow);
    background: var(--color-black);
}

.logo {
    height: 2rem;
}

.logo__top-snake {
    fill: var(--color-black);
}

.logo__bottom-snake {
    fill: var(--color-yellow);
}
